# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Project-specific
.env
.streamlit/
*.csv
*.pdf
!README.md
!requirements.txt

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/
